@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} 

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.container{
    display: flex;
    flex-direction: row;
    width:100vw;
    height: 100vh;
}

.side{
    flex: 1;
    background-color: green;
    height: 100%;
    position: relative;
}
.background-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.opacity-banner{
    display: flex;
    margin-top:200px;
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: black;
    opacity: 70%;
    z-index: 2;
    inset: 0;
    align-items: center;
    justify-content: center;
}

.odin-logo{
    width: auto;
    height: 80%;
    object-fit: contain;

}

.odin-text{
    color: white;
    font-family: 'Norse'; 
    font-weight: bold; 
    font-style: normal;
    font-size: 80px;
}
.credit{
    color: white;
    position: absolute;
    font-size: 20px;
    z-index: 2;
    inset: 0;
    top: auto;
    justify-self: center;
}

.main{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.intro{
    flex:2;
    background-color: whitesmoke;
    padding-left: 50px;
    align-items: center;
    display: flex;
}

.intro-text{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.form{
    flex:2;
    flex-direction: column;
    display: flex;
    padding-left: 50px;
}

.signup{
    background-color: whitesmoke;
    flex:2
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.field{
    display: flex;
    flex-direction: column;
}
input {
  border: 2px solid #000;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}
input:invalid{
    border-color: red;
}

input:valid {
  border-color: green;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 50px
}